<div class="section">
  <div class="form_head">
  <h3>Salary Process</h3>
        <button class="backBtn" routerLink="../"><i class="fa fa-arrow-circle-left"></i> Back</button>
      </div>
<section class="tab-bar" >
    <div fxflex="100%">
      <div class="row">
        <div class="tab_menu">
          <div class="tab-item">
            <!-- <button class="main-button" color="primary"  [routerLink]="['process']" routerLinkActive="active">PROCESS</button> -->
            <button class="main-button" color="primary"  [routerLink]="['list']" routerLinkActive="active">Process</button>
            <button class="main-button" color="primary"  [routerLink]="['generate-pay-slip']" routerLinkActive="active"  >GENERATE PAYSLIP</button>
         
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>