.edd-del{
    mat-icon{
        cursor: pointer;
        position: relative;
        margin-top: 6px;
        color: #998673;
        margin-right: 0.4rem;
    }
   
}

 .disable{
        color: #ddd;
        pointer-events: none;
}
.edd-del{
    i{
        color: #c2c2c2;
        font-size: 20px;
        font-weight: 200;
    }
}
.schedule_pro{
    width: 120px;
     
    background: #998673;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    // line-height: 20px !important;
    text-align: center;
    // padding: 10px 0px!important;
    margin: 0px 15px !important;
}