<div class="action edd-del">
    <!-- <span [ngClass]="rejectt ? 'class3' : 'danger'" class="approve" *ngIf="!rejectt" (click)="approve($event,true)">{{buttonText}}</span>
    <span [ngClass]="approve_status ? 'class3' : 'danger'" class="reject" *ngIf="!approve_status" (click)="reject($event,false)">{{buttonText1}}</span> -->
   <mat-icon (click)="delete($event)" *ngIf="assignAction?.Delete">delete</mat-icon>
</div>
<!-- <div class="edd-del">
     <mat-icon (click)="edit($event)">edit</mat-icon>
   <mat-icon >visibility</mat-icon>
    <button mat-raised-button color="primary">Primary</button>
   <button mat-raised-button color="warn">Warn</button> 
</div>  -->
