<h3 mat-dialog-title class="popHead">Upload Salary </h3>
<!-- <button mat-button mat-dialog-close>Cancel</button> -->

<mat-dialog-content class="mat-typography">
    <div class="cotain row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input
              type="file"
              class="form-control"
            />
          </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="warn">Close</button>
    <button  mat-button mat-dialog-close mat-raised-button color="primary" [mat-dialog-close]="true" >Upload</button>
</mat-dialog-actions>