// ::ng-deep .mat-toolbar.mat-accent {
//     background: #3f51b5!important;
//     color: #fff;
// }
// ::ng-deep .mat-mdc-mini-fab.mat-accent {
//     --mdc-fab-container-color: #3f51b5!important;
//     --mdc-fab-icon-color: #fff;
//     --mat-mdc-fab-color: #fff;
// }


.back{
    cursor: pointer;
    background: #8B817D;
    color: #fff;
    padding: 4px 8px;
    margin-bottom: 8px;
    display: inline-block;
    border-radius: 4px;
}
.warn_text {
    color: red;
}