<div class="row">
    <div class="service-box">
      <div class="service-img" routerLink='employee-bonus'>
        <img src="assets//icons/icon_DQS/emp-bonus.png" alt="" />
      </div>
      <div class="card-title">
        <p>Employee Bonus</p>
      </div>
    </div>
    <div class="service-box">
      <div class="service-img" routerLink='bonus-configure'>
        <img src="assets//icons/icon_DQS/bonus-config.png" alt="" />
      </div>
      <div class="card-title">
        <p>Bonus Configure</p>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
