<div class="section">
  <div class="msater-nav">
    <a style="color:#8B817D; text-decoration: none;" routerLink="../">PAYROLL-COMPONENT</a>
  </div>
<section class="tab-bar" >
    <div fxflex="100%">
      <div class="row">
        <div class="tab_menu">
          <div class="tab-item">
            <button class="main-button" color="primary"  [routerLink]="['add-component-type']" routerLinkActive="active"  >ADD COMPONENT TYPE</button>
            <!-- <button class="main-button" color="primary"  [routerLink]="['add-component']" routerLinkActive="active">ADD COMPONENT</button> -->
            <button class="main-button" color="primary"  [routerLink]="['pf-list']" routerLinkActive="active">PF</button>
            <button class="main-button" color="primary"  [routerLink]="['esi-list']" routerLinkActive="active">ESI</button>
            <!-- <button class="main-button" color="primary"  [routerLink]="['configuration']" routerLinkActive="active">CONFIGURATION</button> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>