<div class="section">
  <div class="row head">
    <p routerLink="../">Employee Salary</p>
  </div> 
  <div class="row">
    <div class="employee_top my-1">
      Dashboard
      <span class="employee_2"><i class="fa fa-angle-right" aria-hidden="true" style="color: #8B817D"></i>
        Payroll</span>
    </div>
  </div>

    <div> 
    <div class="employ_sube py-2">
    <div class="">
      <div class="example-header">
        <select  id="page-size" (change)="onPageSizeChanged()">
          <option value="10" selected="">10</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
        <span class="pag_size">Per Page</span>
      </div>
     
    </div>
    <div class="" align="end">
      <div class="employee_2" style="display: flex;">

      <div>
        <input type="text" class="form-control" id="filter-text-box" placeholder="Search" (input)="onFilterTextBoxChanged()"
        >
      </div>
      </div>
    </div>
  </div>

  <!-- <div class="employ_sube py-2"> -->
    <!-- <div class="">
      <div class="example-header1">
        <select  id="page-size" (change)="onPageSizeChanged()">
          <option selected="">Get Attendance</option>
          <option value="jan">Jan</option>
          <option value="feb">Feb</option>
          <option value="mar">Mar</option>
          <option value="apr">Apr</option>
          <option value="may">May</option>
          <option value="jun">Jun</option>
          <option value="jul">Jul</option>
          <option value="aug">Aug</option>
          <option value="sep">Sep</option>
          <option value="oct">Oct</option>
          <option value="nov">Nov</option>
          <option value="dec">Nov</option>


        </select>
     
      </div>
    </div> -->
    <div class="row">
      <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12" [formGroup]="myForm">
        <div class="form-group">
       
          <input type="month" class="form-control col-4" id="inputField" formControlName="bonus_date" 
         
          />
  </div>
      </div>
      <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12" >
        <button  type="button" class="btn_add" (click)="filterDate()">Search</button>
      </div>
      <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12" style="padding: 0 0 0 21px;">
        <div class="" align="end">
          <div class="employee_2" style="display: flex;">
         <div>
          <button mat-raised-button color="accent" (click)="verified_salary()">Verified Salary</button>
    
         </div>
          </div>
         
        
        </div>
      </div>
      
    </div>
    
   
 
  <!-- </div> -->
  <div class="form_head mt-3">
    <h3> Salary Calculate</h3>
      <button class="backBtn" (click)="back()"><i class="fa fa-arrow-circle-left"></i> Back</button>
  </div>
  <div class="ag_grid">
    <ag-grid-angular class="ag-theme-alpine" id="myGrid" style=" width:100%; height:400px;" [rowData]="rowData"
      [columnDefs]="columnDefs" [pagination]=true [paginationPageSize]=10 [rowData]="rowData"
      (gridReady)="onGridReady($event)"  [rowClass]="rowClass">
    </ag-grid-angular>
  </div>
</div>
</div>
