<h3 mat-dialog-title class="popHead">Employee Record</h3>
<!-- <button mat-button mat-dialog-close>Cancel</button> -->

<mat-dialog-content class="mat-typography">
    <div class="cotain">
        <div class="emp_key">

            <p>Leave Name:</p>
            <p>Total Days:</p>
            <p>Leave Date:</p>
            <p>Leave Status:</p>  
            <p>Applier Name:</p>  
            <p>User Name:</p>
            <p>Status</p>
        </div>
        <div class="emp_value" *ngFor="let data of singleEmpData">
            
            <p>{{data.leave_type}}</p>
            <p>{{data.remaning_leave}}</p>
            
            <p>{{data.fromDate | date: 'dd-MM-yyyy'}}</p>
            <!-- {{employeId?'Update':'Create'}} -->
            <!-- <p>{{data.remaning_leave == 0?'Close':'Active'}}</p> -->
            <P>{{data.status}}</P>
            <p>{{data.registered_users[0].first_name}}</p>
            <p>{{data.registered_users[0].first_name}}</p>
            <mat-form-field appearance="outline">
                <mat-select (selectionChange)="getStatus($event)"> 
                  <mat-option   value="APPROVE" >APPROVED</mat-option>
                  <mat-option  value="REJECT" >Reject</mat-option>    
              </mat-select>
              </mat-form-field>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button  mat-raised-button color="primary"  style="float: right" (click)="statusGet()">
        Submit
      </button>
    <button mat-button mat-dialog-close mat-raised-button color="primary">Close</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>

