mat-icon{
    cursor: pointer;
    position: relative;
    color: #8B817D;
    top: 7px;
}


::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
background-color: #8B817D !important;

}
