<div>
    <h3 mat-dialog-title class="popHead" style="padding-left: 5px">
      Achievement Record
    </h3>
  
    <mat-dialog-content class="mat-typography">
      <div class="cotain">
          <div class="emp_key">
              <p>Complaint From:</p>
              <p>Complaint Name:</p>
              <p>Complaint Against:</p>
              <p>Reporting manager:</p>
              <p>Complaint Date:</p>
              <p>Complaint Description:</p>
              <p>Notes:</p>
              <p>Record Added by:</p>
              <p>Record Added On:</p>
          </div>
          <div class="emp_value">
              <p>{{listComplaint?.complaint_from}}</p>
              <p>{{listComplaint?.complaint_name}}</p>
              <p>{{listComplaint?.complaint_against}}</p>
              <p>{{listComplaint?.reporting_manager}}</p>
              <p>{{listComplaint?.complaint_date | date : 'dd-MM-yy'}}</p>
              <p>{{listComplaint?.complaint_description}}</p>
           
              <p>{{listComplaint?.record_added_by}}</p>
              <p>{{listComplaint?.record_added_on | date : 'dd-MM-yy'}}</p>
              <p>{{listComplaint?.notes}}</p>
              <p>{{listComplaint?.employee_id}}</p>
          </div>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close mat-raised-button color="primary" style="float: right;">Close</button>
  </mat-dialog-actions>
  </div>
  