<!-- <div class="row">
    <div class="service-box">
      <div class="service-img" routerLink='payroll-component'>
        <img src="assets//icons/icon_DQS/payrol.webp" alt="" />
      </div>
      <div class="card-title">
        <p>Payroll Component</p>
      </div>
    </div>
    <div class="service-box">
      <div class="service-img" routerLink='employee-salary'>
        <img src="assets//icons/icon_DQS/emp-salary.png" alt="" />
      </div>
      <div class="card-title">
        <p>Employee Salary</p>
      </div>
    </div> -->
    <!-- <div class="service-box">
        <div class="service-img" routerLink='/master/hrms/payroll/payroll-master/payroll-component/configuration'>
          <img src="assets//icons/icon_DQS/configure.png" alt="" />
        </div>
        <div class="card-title">
          <p>Configure</p>
        </div>
      </div> -->
      <!-- <div class="service-box">
        <div class="service-img" routerLink='salary-process'>
          <img src="assets//icons/icon_DQS/salary-pro.png" alt="" />
        </div>
        <div class="card-title">
          <p>Salary Process</p>
        </div>
      </div>
      <div class="service-box">
        <div class="service-img" routerLink='payroll-report'>
          <img src="assets//icons/icon_DQS/payroll-repo.png" alt="" />
        </div>
        <div class="card-title">
          <p>Payroll Report</p>
        </div>
      </div>
      <div class="service-box">
        <div class="service-img" routerLink='itr'>
          <img src="assets//icons/icon_DQS/itr.png" alt="" />
        </div>
        <div class="card-title">
          <p>ITR</p>
        </div>
      </div>
</div> -->
<!-- <router-outlet></router-outlet> -->

