<!-- <p>book-ticket-travel-request works!</p> -->

<mat-card>
    <div class="section">
      <div class="main">
        <div class="employee">
        </div>
        <div class="msater-nav">
            <a href="">My Expenses<mat-icon>keyboard_arrow_right</mat-icon></a>
            <a routerLink="../">Travel Request</a>
        </div>
        <div class="updatetitle" *ngIf="lead_id"> <h2><b>Book Travel Request</b></h2></div>
        <div class="updatetitle" *ngIf="!enableConfirm && !lead_id"> <h2><b>Create Travel Request</b></h2></div>
        <div class="updatetitle" *ngIf="enableConfirm && !lead_id"><h2><b>Booked Tickets</b></h2></div>
        <section class="job-nav">
          <div class="section">
            <mat-card>
              <div class="row form_head">
                <h3>Update Travel Request</h3>
              </div>
        
              <div class="form_basic">
                
                <form class="form_set" [formGroup]="leadForm">
                   
                  <div class="row">
                    <!-- <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Travel ID</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" readonly>
                          <input matInput type="text" formControlName="travel_id"/>
                        </mat-form-field>
                      </div>
                    </div> -->
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Travel Type</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline"  readonly class="readonly-wrapper">
                          <mat-select formControlName="travel_type">
                            <mat-option (click)="billableFunc()" value="Billable">Billable</mat-option>
                            <mat-option (click)="nonBillableFunc()" value="Non-Billable">Non-Billable</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                  
                  </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p>Travel Description</p>
                      </div>
                    </div>
                    <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" >
                          <input matInput type="text" formControlName="travel_desc" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
             <div class="row" *ngIf="!removeTaskOrderFiled">
                <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12" >
                   <div class="form-group">
                       <p>Task Order</p>
                   </div>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12" >
                    <div class="form-group">
                       <mat-form-field appearance="outline"  readonly class="readonly-wrapper">
                          <!-- <mat-select formControlName="task_order" >
                             <mat-option
                                   *ngFor="let item of taskOrderList"
                                    [value]="item.taskOrder_no"
                                  >{{ item.taskOrder_no + "/" + item.associated_company + "/" + item.address2 }}</mat-option
                              ><mat-option value="Not Applicable - Non Billable">Not Applicable - Non Billable</mat-option>
                          </mat-select> -->
                          <input matInput type="text" formControlName="task_order" />
  
                        </mat-form-field>
                   </div>
                  </div>
             </div>
                 
                  <div class="row" *ngIf="nonBillable" style="margin: 20px 0;">
                    <!-- <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        Travel Approval, if Non Billable :
                        <input
                          formControlName="travel_approval"
                          checked="checked"
                          type="radio"
                          name="travel_approval"
                          value="Yes"
                          id="red"
                          style="margin: 0 5px 0 4%"
                        />Yes
                        <input
                          formControlName="travel_approval"
                          type="radio"
                          name="travel_approval"
                          value="No"
                          id="blue"
                          style="margin: 0 5px 4% 4%"
                        />No
                      </div>
                    </div> -->
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p class="file-tag">Expense Approval</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <input
                          formControlName="expense_approval"
                          id="file"
                          type="file"
                          multiple
                          class="form-control"
                          (change)="fileInputChange($event)"
                          required
                          accept=".pdf"
                        />
                        <div class="file set_icon" *ngIf="lead_id">
                          <img class="selctedImg" [src]="pdfFile" *ngIf="fileDetails2 || singleLeadData.attach_bill">
  
                        </div>
                      </div>
                    </div>
                  </div>
      
  
                <!-- <div class="row">
                  
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                    <div class="form-group">
                    <span>Travel Type</span>
                  </div>
                  </div>
                    <div class="col-xxl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                      <input
                        formControlName="travel_ticket"
                        type="radio"
                        name="travel_ticket"
                        value="Domestic"
                        (click)="yesTickets()"
                        id="red"
                        style="margin: 0 5px 0 0%"
                      />Domestic
                      <input
                        formControlName="travel_ticket"
                        type="radio"
                        name="travel_ticket"
                        checked="checked"
                        value="International"
                        (click)="noTickets()"
                        id="blue"
                        style="margin: 0 5px 4% 4%"
                      />International
                    </div>
                 
                </div> -->
                <div class="row">
                  
                  <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                  <div class="form-group">
                  <span>Travel Type</span>
                </div>
                </div>
                  <div class="col-xxl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                    <div class="readonly-wrapper">
                    <input
                      formControlName="travel_ticket"
                      type="radio"
                      name="travel_ticket"
                      value="Domestic"
                      (click)="yesTickets()"
                      id="red"
                      style="margin: 0 5px 0 0%"
                    />Domestic
                    <input
                      formControlName="travel_ticket"
                      type="radio"
                      name="travel_ticket"
                      checked="checked"
                      value="International"
                      (click)="noTickets()"
                      id="blue"
                      style="margin: 0 5px 4% 4%"
                    />International
                  </div>
                  </div>
               
              </div>
        
                <div class="suggest">
                  <mat-card *ngIf="lead_id">
                    <div class="row form_head">
                        <h3>Travel Details</h3>
                    </div>
  
                    <!-- flight -->
                    <div class="ag_grid">
                        <ag-grid-angular [rowClass]="rowClass" class="ag-theme-alpine" style=" width:100%; height:400px;"
                            [rowData]="expenseIdData" [columnDefs]="columnTravelList" (cellClicked)='onCellClicked($event)' [pagination]=true [paginationPageSize]=10
                            (gridReady)="onGridReady($event)">
                        </ag-grid-angular>
                    </div>
                   </mat-card>
                </div>
                  <!-- <div class="row">
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <p>Traveler Name</p>
                        <mat-form-field appearance="outline">
                          <input matInput type="text" formControlName="traveler_name"/>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <p>Date Of Travel</p>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="dp2" (click)="dp2.open()" formControlName="dateOf_travel" />
      
                          <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                          <mat-datepicker #dp2></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <p>Mode of Travel</p>
                        <mat-form-field appearance="outline">
                          <mat-select formControlName="modeOf_travel">
                            <mat-option value="Train">Train</mat-option>
                            <mat-option value="Flight">Flight</mat-option>
                           
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <p>Travel From</p>
                        <mat-form-field appearance="outline">
                          <input matInput type="text" formControlName="travel_form"/>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <p>Travel to</p>
                        <mat-form-field appearance="outline">
                          <input matInput type="text" formControlName="travel_to"/>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <p>Time</p>
  
                      <mat-form-field appearance="outline">
                      
  
                          <input matInput name="selected_time_B" [format]=24 formControlName="time_travel"
                              [ngxMatTimepicker]="pickerB" readonly />
                          <mat-icon matSuffix (click)="pickerB.open()"> watch_later </mat-icon>
                      </mat-form-field>
                      <ngx-mat-timepicker color="accent" #pickerB></ngx-mat-timepicker>
                  </div>
                  
                  </div>
                  <div class="row">
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <p>Remarks</p>
                        <mat-form-field appearance="outline">
                          <input matInput type="text" formControlName="remarks"/>
                        </mat-form-field>
                      </div>
                    </div>
                  </div> -->
  

                <!-- suggested -->
                <div class="suggest" *ngIf="enableSubmit">
                  <mat-card *ngIf="lead_id">
                    <div class="row form_head">
                        <h3>Travel Ticket Detail sugest</h3>
                    </div>
  
                    <!-- flight -->
                    <!-- <div class="ag_grid" >
                        <ag-grid-angular [rowClass]="rowClass" class="ag-theme-alpine" style=" width:100%; height:400px;"
                            [rowData]="rowDataConfirm" [columnDefs]="columnDefs" (cellClicked)='onCellClicked($event)' [pagination]=true [paginationPageSize]=10
                            (gridReady)="onGridReady($event)">
                        </ag-grid-angular>
                    </div> -->
                   
  
                    <!-- <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12  pt-3" *ngIf="statusTravel">
                      <div class="form-group">
                        <p>Remarks</p>
                        <mat-form-field appearance="outline" readonly>
                          <input matInput type="text" formControlName="remarks_confirm"/>
                        </mat-form-field>
                      </div>
                    </div> -->
                    <div class="form-group" *ngIf="!statusTravel">
                      <mat-icon class="add-man" (click)="addBtn()">add_circle</mat-icon>
                    </div>
                  </mat-card>
                </div>
                  
  
                  <!-- confirmd -->
                <div class="confirmed"   *ngIf="enableSuggest">
    <mat-card *ngIf="lead_id">
      <div class="row form_head">
          <h3>Travel Ticket Detail Confirm</h3>
      </div>
      <!-- <div class="ag_grid" *ngIf="flightOn">
          <ag-grid-angular [rowClass]="rowClass" class="ag-theme-alpine" style=" width:100%; height:400px;"
              [rowData]="rowDataConfirm" [columnDefs]="columnDefsConfirm" (cellClicked)='onCellClicked($event)' [pagination]=true [paginationPageSize]=10
              (gridReady)="onGridReady($event)">
          </ag-grid-angular>
      </div> -->
   <!-- train -->
   <!-- <div class="ag_grid" *ngIf="trainOn">
    <ag-grid-angular [rowClass]="rowClass" class="ag-theme-alpine" style=" width:100%; height:400px;"
        [rowData]="rowDataConfirm" [columnDefs]="columnDefstrain" (cellClicked)='onCellClicked($event)' [pagination]=true [paginationPageSize]=10
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div> -->
  <!-- bus -->
  <!-- <div class="ag_grid" *ngIf="busOn">
  <ag-grid-angular [rowClass]="rowClass" class="ag-theme-alpine" style=" width:100%; height:400px;"
      [rowData]="rowDataBus" [columnDefs]="columnDefsBus" (cellClicked)='onCellClicked($event)' [pagination]=true [paginationPageSize]=10
      (gridReady)="onGridReady($event)">
  </ag-grid-angular>
  </div> -->
      <!-- <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12  pt-3" *ngIf="statusTravel">
        <div class="form-group">
          <p>Remarks</p>
          <mat-form-field appearance="outline" readonly>
            <input matInput type="text" formControlName="remarks_confirm"/>
          </mat-form-field>
        </div>
      </div> -->
      <div class="form-group" *ngIf="!statusTravel">
        <mat-icon class="add-man" (click)="addBtn()">add_circle</mat-icon>
      </div>
    </mat-card>
                </div>
  
                <!-- book tickets -->
                <div class="confirmed"  *ngIf="enableConfirm" >
                  <mat-card *ngIf="lead_id">
                    <div class="row form_head">
                        <h3>Travel Tickets Available Detail</h3>
                    </div>
                    <div class="ag_grid">
                        <ag-grid-angular [rowClass]="rowClass" class="ag-theme-alpine" style=" width:100%; height:400px;"
                            [rowData]="rowDataConfirm" [columnDefs]="columnDefsConfirm" (cellClicked)='onCellClicked($event)' [pagination]=true [paginationPageSize]=10
                            (gridReady)="onGridReady($event)">
                        </ag-grid-angular>
                    </div>
                
                    <!-- <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12  pt-3" *ngIf="statusTravel">
                      <div class="form-group">
                        <p>Remarks</p>
                        <mat-form-field appearance="outline" readonly>
                          <input matInput type="text" formControlName="remarks_confirm"/>
                        </mat-form-field>
                      </div>
                    </div> -->
                    <div class="form-group" *ngIf="!statusTravel">
                      <mat-icon class="add-man" (click)="addBtn()">add_circle</mat-icon>
                    </div>
                  </mat-card>
                              </div>
                 
                  <div class="form_basic" *ngIf="addContact">
                    <form class="form_set" [formGroup]="leadForm">
                      <div class="row">
                        <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                          <p><u><b>Travel Tickets:</b></u></p>
                        </div>
                        <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                          <div class="form-group">
                            <p *ngIf="flightOn">Flight No</p>
                            <p *ngIf="trainOn">Train No</p>
                            <!-- <p *ngIf="busOn">Bus No</p> -->
  
                            <mat-form-field appearance="outline" readonly>
                              <input matInput type="text" formControlName="flight_no"/>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                          <div class="form-group">
                            <p>Travel Date</p>
                             <mat-form-field appearance="outline" readonly>
                              <!-- <input matInput type="text" formControlName="travel_date"/> -->
                          
                            <input matInput [matDatepicker]="dp" (click)="dp.open()" formControlName="travel_date"
                       />
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                    <!-- <mat-error *ngIf="
                    leadForm.controls['date_of_birth'].hasError('required')
                  ">
                      This field is required!
                    </mat-error> -->
                  </mat-form-field> 
                          </div>
                        </div>
  
                        <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                          <p>Time</p>
  
                          <mat-form-field appearance="outline">
                              <!-- <mat-label>Time</mat-label> -->
  
                              <input matInput name="selected_time_B" [format]=24 formControlName="time"
                                  [ngxMatTimepicker]="pickerB" readonly />
                              <mat-icon matSuffix (click)="pickerB.open()"> watch_later </mat-icon>
                          </mat-form-field>
                          <ngx-mat-timepicker color="accent" #pickerB></ngx-mat-timepicker>
                      </div>
                        <!-- <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                          
                        </div> -->
                        <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12"></div>
                        <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                          <div class="form-group">
                            <p>Travel Amount</p>
                            <mat-form-field appearance="outline" readonly>
                              <input matInput type="text" formControlName="travel_amount"/>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                          <div class="form-group">
                            <p>Mode of Travel</p>
                            <mat-form-field appearance="outline" readonly>
                              <!-- <input matInput type="text" formControlName="mode_of_travel"/> -->
                              <mat-select formControlName="mode_of_travel">
                                <mat-option value="Train">Train</mat-option>
                                <mat-option value="Flight">Flight</mat-option>
                                <!-- <mat-option value="Bus">Bus</mat-option> -->
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
  
                        
                        <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                          <div class="form-group">
                            <p>Flight Name</p>
                            <mat-form-field appearance="outline" readonly>
                              <input matInput type="text" formControlName="flight_name"/>
                             
                            </mat-form-field>
                          </div>
                        </div>
                        <!-- <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12"></div>
                        <div class="col-lg-12">
                          <button class="add-btn" (click)="submitExpenseDetail()">Save</button>
                        </div> -->
                        <!-- <div class="upload-btn">
                           <button class="favorite styled" (click)="saveFlight()">Save</button>
                        </div> -->
                        <!-- <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12"></div> -->
                        
                        <div class="row">
                          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12"></div>
                          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                            <div class="form-group">
                              <p>Departure</p>
                              <mat-form-field appearance="outline" readonly>
                                <input matInput type="text" formControlName="departure"/>
                               
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-xxl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                            <div class="form-group">
                              <p>Arrival</p>
                              <mat-form-field appearance="outline" readonly>
                                <input matInput type="text" formControlName="arrival"/>
                               
                              </mat-form-field>
                            </div>
                            
                          </div>
                        </div>
                      <div class="col-lg-12">
                        <button class="add-btn" (click)="saveFlight()">Save</button>
                      </div>
                      </div>
                    </form>
                  </div>
                  <br>
                  <!-- <div class="row" *ngIf="enableConfirm"> -->
                    <!-- <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p class="file-tag">Attach Tickets</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <input
                          formControlName="attach_ticket"
                          id=" expenseApprovalfile"
                          type="file"
                          multiple
                          class="form-control"
                          (change)="attchApprovalFile($event)"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                      <div class="form-group">
                        <p class="file-tag">Attach Invoice</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <input
                          formControlName="attach_invoice"
                          id=" expenseApprovalfile"
                          type="file"
                          multiple
                          class="form-control"
                          (change)="attachInvoiceFile($event)"
                          required
                        />
                      </div>
                    </div> -->
                    <!-- </div> -->
                  <!-- <div class="row margin-top" *ngIf="enableConfirm || statusTravel">
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12 mt-2">
                      <div class="form-group">
                        <p>Remarks</p>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline">
                          <input matInput type="text" formControlName="attach_remarks"/>
                        </mat-form-field>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12  pt-3"*ngIf="enableConfirm || statusTravel">
                    <div class="form-group">
                      <p>Remarks</p>
                      <mat-form-field appearance="outline" readonly>
                        <input matInput type="text" formControlName="attach_remarks"/>
                      </mat-form-field>
                    </div>
                  </div>
                </form>
              </div>
            </mat-card>
          </div>
        </section>
      
      <div class="upload-btn">
        <button class="cancel-btn" (click)="cancel()">
          Cancel
        </button>
        <button class="favorite styled" *ngIf="!lead_id" (click)="submitForm()">Submit</button>
        <button class="favorite styled" *ngIf="lead_id && enableSubmit" (click)="suggestForm()">Suggest</button>
        <button class="favorite styled" *ngIf="enableSuggest" (click)="confirmForm()">Confirm</button>
        <button class="favorite styled" (click)="bookForm()">Booked Tickets</button>
        <!-- <button class="favorite styled" *ngIf="lead_id && enableBooked" (click)="approveForm()">Approve</button> -->
        <button class="favorite styled" *ngIf="lead_id && enableApprove" (click)="paymentForm()">Make Payment</button>
      </div>
    </div>
    </div>
  </mat-card>
  
  