
#htmlData {
  width: 100%;
  height: auto;
  overflow-y:scroll;

}
body{
  background-image: url('/assets/icons/DQS_logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 40% 40%;
}