<div class="section">
    <div class="row">
      <!-- <div class="btns">
        <button (click)="goBackAddTypeList('master/hrms/payroll/payroll-master/payroll-component/add-component-type')"  type="button">List</button>
      </div> -->
    </div>
    <router-outlet></router-outlet>
  </div>

  <div class="section">
    <div>
      <mat-card>
        <div class="form_head">
            <h3>PAYROLL REPORT GENERATE</h3>
            <button class="backBtn" routerLink="../"><i class="fa fa-arrow-circle-left"></i> Back</button>
          </div>
        <div class="form_basic">
          <form class="form_set" [formGroup]="reportGenForm">
            <div class="row">
              <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <mat-form-field appearance="outline" readonly>
                    <mat-label>Fiscal year</mat-label>
                    <mat-select formControlName="fiscal_year">
                      <mat-option value="2022">2022</mat-option>
                      <mat-option  value="2023">2023</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
  
              <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Pay Period</mat-label>
                    <mat-select  formControlName="pay_period">
                      <mat-option>Select</mat-option>
                      <mat-option *ngFor="let monthList of month" [value]="monthList.value">{{monthList.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
             </div>
             <div class="row">
             <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Employee</mat-label>
                        <mat-select formControlName="employee" (selectionChange)="selectChange($event)">
                            <mat-option *ngFor="let emp of EmpListData" [value]="emp.employee_id">{{emp.first_name}} {{emp.last_name}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                </div>
              </div>
            </div>
             
            <div class="mt-3">
              <button   mat-raised-button color="primary" class="mx-3" 
              (click)="onBtnExportDataAsExcel()"
              >
                 Generate 
              </button>
              <button mat-raised-button color="warn" routerLink="../">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
