.edd-del{
    mat-icon{
        cursor: pointer;
        position: relative;
        margin-top: 6px;
    }:nth-child(1){
        // margin: 0 16px;
        color: #18a82b;

    } :nth-child(2){
        margin: 0 10px;
        color: #c70b0b;
    } 
}