<section class="section">
    <div class="row head">
      <p routerLink="../">Add Employee In Payroll</p>
    </div>
    
    <div class="row">
      <div class="employee_top my-1">
        Payroll
        <span class="employee_2"><i class="fa fa-angle-right" aria-hidden="true" style="color: #8B817D"></i>
            Add Employee</span>
      </div>
    </div>
  
    <div class="row">
      <div class="btns">
        <button routerLink="../" type="button">List</button>
      </div>
    </div>
  
    <div fxflex="100%">
      <div class="row">
        <div class="tab_menu">
          <div class="tab-item">
            <button class="main-button" color="primary" (click)="goTo('master/hrms/payroll/add-employee/add-emp/emp-basice-detail')" routerLink="emp-basice-detail" routerLinkActive="active">BASIC DETAILS</button>
            <button class="main-button" color="primary" (click)="goTo('master/hrms/payroll/add-employee/add-emp/emp-salary-detail')" routerLink="emp-salary-detail" routerLinkActive="active">SALARY DETAILS</button>
            <button class="main-button" color="primary" (click)="goTo('master/hrms/payroll/add-employee/add-emp/emp-payment-detail')" routerLink="emp-payment-detail" routerLinkActive="active">PAYMENT DETAILS</button>
            <button class="main-button" color="primary" (click)="goTo('master/hrms/payroll/add-employee/add-emp/emp-salary-breakup')" routerLink="emp-salary-breakup" routerLinkActive="active">SALARY BREAKUP</button>
            
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </section>