<div>
  <h3 mat-dialog-title class="popHead" style="padding-left: 5px">
    Achievement Record
  </h3>
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->

  <mat-dialog-content class="mat-typography">
    <div class="cotain">
        <div class="emp_key">
            <p>Achievement Id:</p>
            <p>Achievement Desciption:</p>
            <p>Achieved by:</p>
            <p>Achievement:</p>
            <p>Badges:</p>
            <p>Requisition Status:</p>
            <p>Course:</p>
            <p>Achieve date:</p>
            <p>Created at:</p>
            <p>Course employee:</p>
            <p>Notes:</p>
            <p>Candidate Age:</p>
            <p>Recognized By:</p> 
            <p>Reporting manager:</p>
            <p>Recognized On:</p>
            <!-- <p>Updated at:</p>
            <p>Status:</p> -->
        </div>
        <div class="emp_value">
            <p>{{achievemenList?.achievement_id}}</p>
            <p>{{achievemenList?.achieve_description}}</p>
            <p>{{achievemenList?.achieved_by}}</p>
            <p>{{achievemenList?.achievements}}</p>
            <p>{{achievemenList?.badges}}</p>
            <p>{{achievemenList?.course}}</p>
            <p>{{achievemenList?.achieve_date | date : 'dd-MM-yy'}}</p>
            <p>{{achievemenList?.createdAt | date : 'dd-MM-yy'}}</p>
            <p>{{achievemenList?.course_employee}}</p>
            <p>{{achievemenList?.notes}}</p>
            <p>{{achievemenList?.recognized_by}}</p>
            <p>{{achievemenList?.recognized_date | date : 'dd-MM-yy'}}</p>
            <p>{{achievemenList?.reporting_manager}}</p>
            <p>{{achievemenList?.status}}</p>
            <p>{{achievemenList?.updatedAt | date : 'dd-MM-yy'}}</p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary" style="float: right;">Close</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
</div>
