<h3 mat-dialog-title class="popHead">Employee Record</h3>
<mat-dialog-content class="mat-typography">
    <div class="cotain">
        <div class="emp_key">
            <p>CC Email:</p>
            <p>BCC Email:</p>
            <p>TO Email:</p>
            <p>Subject:</p>
            <p>Text:</p>
           </div>
        <div class="emp_value">
            <p>{{announceData?.cc_email}}</p>
            <p>{{announceData?.bcc_email}}</p>
            <p>{{announceData?.to_email}}</p>
             <p>{{announceData?.subject}}</p>
            <p>{{announceData?.text}}</p>

         </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary">Close</button>
</mat-dialog-actions>
