<div class="section">
  <div class="row head">
    <p>Employee</p>
  </div>
  <div class="row py-1">
    <div class="employee_top">
      Dashboard
      <span class="employee_2"
        ><i class="fa fa-angle-right" aria-hidden="true" style="color: #8B817D">
        </i>
        Attendance Calendar
      </span>
    </div>
  </div>
  <div class="" style="margin-top: 4%;">
    <div class="row">
      <div class="col-lg-1">
        <div class="add_btn" style="margin-bottom: 20px; width: 25px;">
          <button type="button" class="btn_add">
            Self
          </button>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-select formControlName="achieved_by">
              <mat-option value="test">Test</mat-option>
              <mat-option value="test">Test</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-6">

      </div>
    </div>
  </div>

  <div class="mainCal">
    <div class="row form_head">
      <h3>Attendance Calendar </h3>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar value="selected" (cellClicked)='onCellClicked($event)'></mat-calendar>  
        </mat-card>
      </div>
      <div class="col-lg-3" style="padding-left: 0;">
        <div class="event-bar">
          <ul>
            <li class="line">Leave</li>
            <li class="line">Restricted Holiday</li>
            <li class="line">Holiday</li>
            <li class="line">Attendance</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>