<h3 mat-dialog-title class="popHead">Employee Record</h3>
<!-- <button mat-button mat-dialog-close>Cancel</button> -->

<mat-dialog-content class="mat-typography">
    <div class="cotain">
        <div class="emp_key">
            <!-- <p>S.No:</p> -->
            <p>Date:</p>
            <p>Employee Id:</p>
            <p>Employee Name:</p>
            <p>Reason Time-Off:</p>
            <p>Manager Name:</p>
            <p>Time-Off Applied:</p>
            <p>Time-Off Taken:</p>
            <!-- <p>Time-Off Balance:</p> -->

        </div>
        <div class="emp_value">
            <!-- <p>{{singleEmpData?.employee_id}}</p> -->
            <p>{{singleEmpData?.date_off_request}}</p>
            <p>{{singleEmpData?.employee_id}}</p>
            <p>{{singleEmpData?.employee_name}}</p>
            <p>{{singleEmpData?.time_off_request_reason}}</p>
            <p>{{singleEmpData?.manager_name}}</p>
            <p>{{singleEmpData?.time_off_request}}</p>
            <p>{{singleEmpData?.time_off_taken}}</p>
            <!-- <p>{{singleEmpData?.status}}</p>     -->
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-raised-button color="primary">Close</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
